body {
    font-family: Arial, sans-serif;
    background-color: #FFFBF1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: none;
}

.logo {
    width: 150px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    /* margin: 0; */
    margin-right: 0px;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

.nav-button {
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    padding: 5px 10px;
}

.nav-button.active {
    color: #006735;
}

.nav-button:hover {
    color: #006735;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

    .nav-button{
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    .logo {
        width: 40px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .nav-button{
        font-size: 15px;
    }
}