body {
    font-family: Arial, sans-serif;
    background-color: #FFFBF1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.logo-large {
    width: 500px;
}

.signup-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #000;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed;
}

button.enabled {
    background-color: #006735;
    cursor: pointer;
}

button:hover.enabled {
    background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
        margin-top: 200px;
    }

    .logo-large {
        width: 200px;
        margin-bottom: 20px;
    }

    .signup-container {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .logo-large {
        width: 150px;
        margin-bottom: 10px;
    }

    .signup-container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}
